extends layout

block content
  h1="Centro de Investigación Embalse El Yeso"
  hr
  a(href="dataview") Vista pública de datos
  br
  a(href="databehavior") Comportamiento de variables en el tiempo
  br